<div class="topbar d-none d-lg-block">
  <div class="container-xl">
    <div class="d-flex justify-content-center">
      <div class="topbar-item">
        <div class="topbar-icon"><i class="fa fa-map-marker-alt"></i></div>
        <div>
          <div class="topbar-label">Service Area</div>
          <div class="topbar-value">Greater Boston, MA</div>
        </div>
      </div>
      <div class="topbar-item">
        <div class="topbar-icon"><i class="fa fa-envelope"></i></div>
        <div>
          <div class="topbar-label">Email Us</div>
          <div class="topbar-value">info@elitecontractorsllc.biz</div>
        </div>
      </div>
      <div class="topbar-item">
        <div class="topbar-icon"><i class="fa fa-phone-alt"></i></div>
        <div>
          <div class="topbar-label">Call Us</div>
          <div class="topbar-value">(617) 539-6365</div>
        </div>
      </div>
    </div>
  </div>
</div>
